@import "https://raw.githubusercontent.com/octoshrimpy/o_fonts/master/fonts/crayons.ttf";

@font-face {
    font-family: 'o_crayons';
    src: url('https://raw.githubusercontent.com/octoshrimpy/o_fonts/master/fonts/crayons.ttf');
    font-weight: 100;
    font-style: normal;
}

.o_fonts .crayon {
    font-family: "o_crayons" !important;
}
